@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body, button {
  font: 400 18px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}