a {
  color: #82B1FF;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-left: -48px;
  margin-top: 32px;
}

.header {
  display: flex;
}

.loader {
  border: 6px solid #202020;
  border-top: 6px solid #DC2929;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1.5s linear infinite;
  margin-left: 16px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.hidden {
  display: none;
}

.error {
  display: block;
  margin-top: 16px;
  color: #DC2929;
}

.input {
  display: flex;
  flex-direction: column;
}

.card{
  position: absolute;
  top:50%;
  left:50%;
  width:365px;
  background: #121212;
  color:#ffff;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 2px;
}

.card.hidden{
  display: none;
}

.login-form h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

.login-form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.login-form input {
  color: #FFFFFF;
  background: #202020;
  border: none;
  padding: 12px 4px;
  margin-bottom: 4px;
  font-size: 14px;
  outline: none;
}


.login-form button {
  width: 100%;
  padding: 12px 4px;
  margin-top: 48px;
  font-size: 16px;
  font-weight: bold;
  background: #DC2929;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background: #9f1a1a;
  transition-duration: 200ms;
}
