.number-circle {
  width: 44px;
  height: 44px;
  display: flex;
  background: #FF8C00;
  color: #FFF;
  font-size: 22px;

  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}