.clickable-image {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    transition: all 250ms;
}

.clickable-image img {
    width: 100%;
    height: 100%;
}
  
.clickable-image:active {
    background: rgba(0, 0, 0, 0.1);
    transition: 0s;
    opacity: 1;
}
  