.choose-food-container {
  display: flex;
  background: #DFDFDF;
  height: 100vh;
}

.choose-food-container > .content {
  width: 730px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
}

.choose-food-container > .content header {
  display: flex;
  justify-content: space-between;
}

.choose-food-container > .content header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.choose-food-container > .content header .title :nth-child(2) {
  margin-left: 15px;
  font-size: 24px;
}

.choose-food-container > .content header .buttons {
  display: flex;
}

.choose-food-container > .content header .buttons > :first-child {
  margin-right: 15px;
}

.choose-food-container > .content main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
