.modal-show .card .content h3:not(:first-child) {
  margin-top: 24px;
}

.modal-show .card .content .title {
  margin-bottom: 8px;
}

.modal-show .card .content .items {
  overflow-y: scroll;
  max-height: 500px;
}

.modal-show .card .content .items .centered {
  text-align: center;
  margin-top: 40%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal-show .card .content .items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.modal-show .card .content .items {
  -ms-overflow-style: none;
}