.option-card {
  background: #FFF;
  width: 222px;
  height: 222px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  border-radius: 4px;
  position: relative;
  transition: all 250ms;
}

.option-card:active {
  background: #E9E9E9;
  transition: 0s;
  opacity: 1;
}

.option-card .text {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.option-card .image {
  position: absolute;
  width: 94px;
  height: 94px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}