body{
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    color: white;
    margin-right: 1%;
}

header a{
    text-decoration: none;
    color: white;
    margin-right: 1%;
}

.expand_menu{
    margin-top: 0.5%;
}

.bars{
    cursor: pointer;
    width: 4%;
    padding: 0.3%;
    margin-top: 0.2%;
    margin-left: 0.3%;
    border-style: solid;
    border-color: black;
    background-color: #C4C4C4;
}

.cpu_graphic, .memory_graphic, .disc_graphic{
    width: 45%;
    margin-left: 0.5%;
}

.content{
    margin-top: 0.5%;
}

.container{
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: left;
    height: 35vh;
    z-index: 0;
}

.cpu_info, .memory_info, .disc_info{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}

.alert
{
    width: 4vw;
    height: 7vh;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    margin-bottom: 10%;
}

.section{
    margin-left: 5%;
    width: 20%;
}

.section, .info2{
    margin-top: 3%;
}

*{
    margin: 0;
    padding: 0;

}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
    z-index: 2;
}

#sidebar.active{
    left: 0px;
}

#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    cursor: pointer;
}

.log-out{
    padding: 16px 32px;
    opacity: 0.6;
    transition: 0.3s;
}

.log-out:hover{
    opacity: 1;
}