.checkout-container {
  background: #00695C;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
}

.checkout-container .content {
  margin: auto;
}

.checkout-container .content h1 {
  font-size: 3em;
}

.checkout-container .content p {
  font-size: 1.4em;
}
