.list-item {
  width: 100%;
  height: 480px;
}

.list-item > .content {
  display: flex;
  height: 100%;
}

.list-item > .content .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  justify-content: space-between;
}

.list-item > .content .controls div button:not(:last-child) {
  margin-bottom: 15px;
}

.list-item > .content .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 15px;
  align-content: flex-start;
}