.verification-container {
  display: flex;
  background: #DFDFDF;
  height: 100vh;
}

.verification-container > .content {
  width: 600px;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
}

.verification-container > .content > .card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  border-radius: 4px;
  position: relative;
  padding: 48px 38px;
}

.verification-container > .content .card .number-circle {
  position: absolute;
  top: 0;
  left: -25px;
}

.verification-container > .content > .card .items {
  margin-top: 18px;
  max-height: 300px;
  overflow-y: scroll;
}

.verification-container > .content > .card .items .item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.verification-container > .content > .card .items .total {
  text-align: right;
  padding: 24px 0;
  font-size: 2em;
  font-weight: bold;
}

.verification-container > .content .overview {
  margin-top: 14px;
}

.verification-container > .content .overview .card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  border-radius: 4px;
  position: relative;
  padding: 28px 38px;
}

.verification-container > .content .overview .card .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.verification-container > .content .overview .card .content .button:first-child {
  margin-right: 8px;
}

.verification-container > .content .overview .card * {
  margin-top: 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.verification-container > .content > .card .items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.verification-container > .content > .card .items {
  -ms-overflow-style: none;
}