.item-card {
  background: #FFF;
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
  border-radius: 4px;
  position: relative;
  transition: all 250ms;
}

.item-card:active {
  background: #E9E9E9;
  transition: 0s;
  opacity: 1;
}

.item-card .text {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.item-card .image {
  position: absolute;
  width: 120px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}