body {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  width: 64px;
  height: 100%;
  background: #121212;
  flex-shrink: 0;
  transition: width 260ms ease;
  overflow: hidden;
}

.sidebar:hover {
  width: 224px;
  transition-delay: 500ms;
}

.sidebar .logo {
  margin-left: -50px;
  margin-top: 36px;
}

.sidebar ul:nth-child(2) {
  display: flex;
  height: 260px;
  flex-direction: column;
  margin-top: 12vh;
  justify-content: space-between;
}

.sidebar ul.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sidebar ul li {
  white-space: nowrap;
  padding: 6px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #FFFFFF10;
}

.sidebar ul li.active {
  background: #5C5C5C;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.sidebar ul li a span {
  margin-left: 8px;
  font-size: 18px;
}

.sidebar ul li img {
  min-width: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebar ul.bottom li img {
  height: 40px;
  margin-bottom: 2px;
}

main {
  display: flex;
  max-width: 1000px;
  margin: 20vh auto;
  flex-grow: 1;
  padding: 0 24px;
  height: fit-content;
}

.container-cadastro form {
  width: 304px;
  background: #121212;
  padding: 16px;
}

.container-cadastro form .title, .container-consulta .title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.header {
  display: flex;
}

.loader {
  border: 6px solid #202020;
  border-top: 6px solid #DC2929;
  border-bottom: 6px solid #DC2929;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1.5s linear infinite;
  margin-left: 16px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.hidden {
  display: none;
}

.error {
  display: block;
  margin-top: 16px;
  color: #DC2929;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.button-box {
  text-align: end;
}

.container-cadastro label {
  font-weight: bold;
}

.container-cadastro input {
  color: #FFFFFF;
  background: #202020;
  border: none;
  padding: 12px 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  outline: none;
}

.container-cadastro button {
  padding: 12px 12px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  background: #DC2929;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-cadastro button:hover {
  background: #9f1a1a;
  transition-duration: 200ms;
}

.container-consulta {
  margin-left: 24px;
  flex-grow: 1;
}

.container-consulta input {
  width: 100%;
  color: #FFFFFF;
  background: #5C5C5C;
  border: none;
  padding: 12px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  outline: none;
}

.container-consulta input::placeholder {
  color: #FFF;
}

.store-list {
  margin-top: 16px;
}

.store {
  margin-bottom: 8px;
}

.store .name {
  width: 100%;
  display: block;
  background-color: #020202;
  padding: 12px 16px;
}

.store .content .label {
  font-weight: bold;
}

.store .content {
  display: flex;
  background: #121212;
  padding: 12px 16px;
}

.store .content div {
  display: flex;
  flex-direction: column;
}

.store .content div:first-child {
  width: 50%;
}
