body {
  height: 100vh;
  background-color: #181818;
  font: 500 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-select{
  width:250px;  /* Tamanho final do select */
  overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
}

.custom-select select {
    background: #292929;
    width: 100%;
    font-size: 14px;
    padding: 10px 20px 10px 12px;
    color: #fff;
}

.sidebar {
  position: fixed;
  width: 64px;
  height: 100%;
  background: #121212;
  flex-shrink: 0;
  transition: width 260ms ease;
  overflow: hidden;
}

.sidebar .content {
  position: relative;
  height: 100%;
}

.sidebar:hover {
  width: 224px;
  transition-delay: 500ms;
}

.sidebar .logo {
  margin-left: -50px;
  margin-top: 36px;
}

.sidebar ul:nth-child(2) {
  display: flex;
  height: 260px;
  flex-direction: column;
  margin-top: 12vh;
  justify-content: space-between;
}

.sidebar ul.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sidebar li {
  white-space: nowrap;
  padding: 6px 0;
  cursor: pointer;
}

.sidebar li:hover {
  background: #FFFFFF10;
}

.sidebar li.active {
  background: #5C5C5C;
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.sidebar li a span {
  margin-left: 8px;
  font-size: 18px;
}

.sidebar li img {
  min-width: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebar ul.bottom li img {
  height: 40px;
  margin-bottom: 2px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.title {
  padding: 20px 0;
}

.sub-title {
  padding: 10px 0;
}

.chart-mosaic {
  height: 500px;
}

.chart-mosaic .right {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
}

.chart-mosaic .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-grafico:first-child {
  margin-bottom: 12px;
}

.container-grafico {
  background-color: #292929;
  height: 100%;
  padding: 12px;
}

.flex {
  display: flex;
}