@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;  
}

body {
  color: #fafafa;
  background: #212121;
  font: 500 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 20px 0;
}

.sub-title {
  padding: 10px 0;
}

.chart-mosaic .right {
  width: 100%;
  margin-left: 15px;
}

.model-performance {
  display: flex;
  flex-direction: column;
}

.model-performance .options {
  display: flex;
}

.model-performance .model-option {
  display: flex;
  background-color: #303030;
  padding: 10px;
}

.model-performance .model-option.selected {
  background: #dc143c;
}

.chart-container.fill {
  width: 100%;
  background-color: #323232;
  padding: 10px 20px 20px 10px;
}

.flex {
  display: flex;
}