body
{
    margin: 0;
    background-image: linear-gradient(-90deg, rgb(10, 10, 10), rgb(7, 7, 7));
}

.menu
{
    background-color: black;
    width: 100%;
    height: 10vh;
}

.logo
{
    width: 18vw;
    margin-top: 0.5vw;
}

.opcoes
{
    width: 3vw;
    float: right;
    margin-top: 0.8vw;;
    margin-right: 1.5vh;
    filter: invert();
}

canvas
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.chart-container
{
    width: 28vw;
    margin-left: 6vh;
}

.container
{
    flex-direction: row;
    flex-wrap: wrap;
}

.container2
{
    margin-top: -85vh;
    margin-left: 34vw;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    width: 62vw;
    height: 85vh;
}

.device
{
    position: relative;
    width: 99%;
    height: 25%;
}

.device2
{
    margin-top: 5%;
}

.texto
{
    color: white;
    font-family: tahoma;
    text-align: justify;
    width: max-content;
}

.nome
{
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 5%;
}

.alerta
{
    position: absolute;
    width: 5vh;
    height: 5vh;
    margin-top: -4.5%;
    margin-left: 26%;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
}

.informacao
{
    margin-top: 2%;
    margin-left: 5%;
}

.descricao
{
    margin-left: 55%;
    margin-top: -10%;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .fecharbtn {
    position: absolute;
    top: -14px;
    right: 4px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .fecharbtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }