.choose-place-container {
  display: flex;
  background: #DFDFDF;
  height: 100vh;
}

.choose-place-container .content {
  width: 600px;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
}

.choose-place-container .content header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.choose-place-container .content header :nth-child(2) {
  margin-left: 15px;
  font-size: 24px;
}

.choose-place-container .content main {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
