.button {
  padding: 10px 20px;
  background: #FF8C00;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  transition: all 250ms;
}

.button:hover {
  background: #DA7800;
}

.button:active {
  background: #bb6802;
  transition: 0s;
  opacity: 1;
}