*{margin:0}

body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -5vw;
}
.menu
{
    background-color: black;    
    height: 10vh;
}
.logo
{
    width: 18vw;
    margin-top: 0.5vw;
}

.container {
    margin-left: 10%;
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 50%;
    height: 500px;
    text-align: center;
    background-position: center;
    background-size: cover; 
    /* border-left: 1px solid black; */
    border-top: 1vw solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    /* border-bottom-left-radius: 5px; */
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    margin-top:3vw;
    margin-left: 3vw;
    align-content: center;
}
.nome{
    margin-top: 3vw;
    width: 82%;
    border-radius: 1vw;
    height: 30px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    border-radius: 1vw;
    width: 82%;
    height: 30px;
    border: 1px solid #000000; 
    text-align: center; 

}

.cnpj {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    border-radius: 1vw;
    width: 82%;
    height: 30px;
    border: 1px solid #000000; 
    text-align: center; 

}
.senha{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    border-radius: 1vw;
    width: 82%;
    height: 30px;
    border: 1px solid #000000; 
    text-align: center;   
}

.confirmarsenha{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    border-radius: 1vw;
    width: 82%;
    height: 30px; 
    border: 1px solid #000000; 
    text-align: center; 
}

.box button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 14px;  
    color: white;
    background:black;
    border-radius: 1vw;
    border: 1px solid #000000; 
    width: 62%;
    height: 40px;
    transition-duration: 0.5s;
}

.box button:hover{
    color:whitesmoke;
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(88, 77, 77);
    border: 1px solid  rgb(88, 77, 77); 
    transition-duration: 0.5s;
}


/** Style da box 2 **/

.box_2 {
    width: 50%;
    height: 500px;
    text-align: center;        
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-position: center;
    background-size: cover;
    border-left: 1px solid black;     
    border-top: 1vw solid black;     
    border-bottom: 1px solid black;     
    /* border-right: 1px solid black;      */
    border-top-right-radius: 5px;
    /* border-bottom-right-radius: 5px; */
}

.email_box2 {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 8vw;
    width: 82%;
    height: 30px;
    border-radius: 1vw;
    background-color: white; 
    border: 1px solid #000000; 
    text-align: center; 

}

.senha_box2 {
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    margin-top: 40px;
    width: 82%;
    height: 30px;
    background-color: white;
    border: 1px solid #000000; 
    text-align: center;
}

.box_2 button {
    font-family: Arial, Helvetica, sans-serif;;
    margin-top: 60px;
    font-size: 14px;  
    color: white;
    background:black;
    border-radius: 1vw;
    border: 1px solid #000000; 
    width: 62%;
    height: 40px;
    transition-duration: 0.5s;

}

.box_2 button:hover {
    color:whitesmoke;
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(88, 77, 77);
    border: 1px solid  rgb(88, 77, 77); 
    transition-duration: 0.5s;
}
::placeholder {
    color: rgba(126, 126, 126, 1);
}   