body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    color: white;
    margin-right: 1%;
}

header a{
    text-decoration: none;
    color: white;
    margin-right: 1%;
}

.expand_menu{
    margin-top: 0.5%;
    float: right;
}

.expand_menu img{
    height: 5vh;
    width: 3vw;
}

.container {
    display: flex;
    height: 37vh;
    margin-bottom: 4%;
}

.graphic {
    width: 45%;
}

.select_info {
    display: flex;
    margin-left: 20%;
}

.chose_cpu, .chose_memory, .chose_disc {
    padding: 5px;
    background-color: black;
    font-size: 15px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.alert_memory, .alert_disc, .info1_memory, .info1_disc, .info2_memory, .info2_disc {
    display: none;
}

.alert_cpu, .alert_memory, .alert_disc {
    width: 4vw;
    height: 7vh;
    border-radius: 100%;
    border-style: solid;
    border-color: #777777;
    margin-bottom: 10%;
    background-color: red;
}

.display_infos {
    display: flex;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
}

.infos {
    width: 55%;
}

.info2_cpu, .info2_memory, .info2_disc {
    margin-right: 5%;
}

*{
    margin: 0;
    padding: 0;

}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    right: -200px;
    transition: all 500ms linear;
    z-index: 2;
}

#sidebar.active{
    right: 0px;
}

#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    cursor: pointer;
}

.log-out{
    padding: 16px 32px;
    opacity: 0.6;
    transition: 0.3s;
}

.log-out:hover{
    opacity: 1;
}