@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;  
}

body {
  color: #fafafa;
  background: #181818;
  font: 500 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.sidebar {
  position: fixed;
  width: 64px;
  height: 100%;
  background: #121212;
  flex-shrink: 0;
  transition: width 260ms ease;
  overflow: hidden;
  z-index: 1;
}

.sidebar:hover {
  width: 224px;
  transition-delay: 500ms;
}

.sidebar .logo {
  margin-left: -50px;
  margin-top: 36px;
}

.sidebar ul.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sidebar ul li {
  white-space: nowrap;
  padding: 6px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #FFFFFF10;
}

.sidebar ul li.active {
  background: #5C5C5C;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.sidebar ul li a span {
  margin-left: 8px;
  font-size: 18px;
}

.sidebar ul li img {
  min-width: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebar ul.bottom li img {
  height: 40px;
  margin-bottom: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.navbar {
  position: fixed;
  right: 0;
  width: 0px;
  height: 100%;
  background-color: #383838;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 260ms ease;
  z-index: 1;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar.open {
  width: 350px;
}

.navbar-icon {
  position: fixed;
  right: 16px;
  top: 16px;
}

.navbar-icon img, .navbar-close img {
  width: 48px;
}

.navbar-close {
  margin: 16px;
}

.navbar-close img {
  margin-top: 20px;
}

.maquina {
  display: flex;
  position: relative;
  min-width: 200px;
  background-color: #292929;
  height: 140px;
  padding: 18px;
  border-radius: 5px;
  margin: 8px 16px;
}

.maquina .content {
  width: 100%;
}

.maquina .title-bar {
  display: flex;
  justify-content: space-between;
}

.maquina img.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  opacity: 0.1;
}

.title {
  padding-bottom: 20px;
}

.sub-title {
  padding: 40px 0 20px 0;
}

.mosaic {
  display: flex;
  height: 65vh;
}

.mosaic .info {
  width: 500px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.mosaic .info .info-item {
  flex-grow: 1;
  background-color: #292929;
  padding: 8px;
}
.mosaic .info .info-item:not(:first-child) {
  margin-top: 16px;
}

.mosaic .info .info-item h3 {
  font-size: 24px;
}

.mosaic .info .info-item h4 {
  opacity: 0.5;
  margin-top: 16px;
}

.chart-container {
  background-color: #292929;
  padding: 10px 20px 20px 10px;
}

.chart-container.fill {
  width: 100%;
}

.mosaic-2 {
  display: flex;
  margin-bottom: 50px;
  height: 500px;
}

.mosaic-2 .chart-container:first-child {
  margin-right: 16px;
}


/* .title {
  padding: 20px 0;
}

.sub-title {
  padding: 10px 0;
}

.chart-mosaic .right {
  width: 100%;
  margin-left: 15px;
}

.model-performance {
  display: flex;
  flex-direction: column;
}

.model-performance .options {
  display: flex;
}

.model-performance .model-option {
  display: flex;
  background-color: #292929;
  padding: 10px;
  cursor: pointer;
}

.model-performance .model-option.selected {
  background: #3949AB;
}

.chart-container.fill {
  width: 100%;
  background-color: #292929;
  padding: 10px 20px 20px 10px;
}

.flex {
  display: flex;
}

.grid-modelos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 15px;
}

.modelo {
  display: flex;
  position: relative;
  min-width: 200px;
  background-color: #292929;
  height: 140px;
  padding: 18px;
  border-radius: 5px;
}

.modelo .content {
  width: 100%;
}

.modelo .title-bar {
  display: flex;
  justify-content: space-between;
}

.modelo img.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  opacity: 0.1;
}

.modelo img.alert {
  filter: invert(0.5) sepia(0.5) saturate(10) hue-rotate(-30deg);
  width: 24px
}

.modelo p {
  opacity: 0.8;
}

.modelo p:nth-child(2) {
  margin-top: 10px;
}

.maquinas {
  display: flex;
  margin-bottom: 50px;
}

.lista-maquinas {
  width: 100%;
  margin-right: 16px;
}

.lista-maquinas table {
  width: 100%;
}

.lista-maquinas table th {
  text-align: left;
  background-color: #121212;
  padding: 12px 8px;
}

.lista-maquinas table td {
  padding: 12px 8px;
  background-color: #292929;
} */