.modal-show {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-show .card {
    background: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 75vh;
    transform: translateX(-50%) translateY(-50%);
}

.modal-show .content {
    padding: 24px;
}

.modal-show .title {
    display: flex;
    justify-content: space-between;
}

.modal-show .title button {
    width: 45px;
    height: 45px;
    background: #FF8C00;
    border: 0;
    border-radius: 100%;
    padding: 10px;
    transition: all 250ms;
}

.modal-show .title button:hover {
    background: #DA7800;
}

.modal-show .title button:active {
    background: #bb6802;
    transition: 0s;
    opacity: 1;
  }

.modal-show .title button .icon {
    width: 24px;
    height: 24px;
}

.modal-show .card .content .price {
    margin-top: 10px;
}

.modal-show .card .content .img-container {
    width: 100%;
    text-align: center;
}

.modal-show .card .content .img-container img {
    height: 280px;
    opacity: 0.6;
}

.modal-show .content > .qtd-control {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.modal-show .content .qtd-control span {
    padding: 0 12px;
}

.modal-hide {
    display: none;
}