.button-icon {
  display: flex;
  padding: 10px;
  background: #FF8C00;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  transition: all 250ms;
}

.button-icon.disabled {
  opacity: 0.5;
}

.button-icon:not(.disabled):hover {
  background: #DA7800;
}

.button-icon:not(.disabled):active {
  background: #bb6802;
  transition: 0s;
  opacity: 1;
}