.home-container {
  background: #00695C;
  height: 100vh;
  display: flex;
  color: #FFF;
}

.home-container .content {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.home-container .content main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-container .content main .bottom {
  font-size: 24px;
}

.home-container .content main .card-brands {
  display: flex;
  align-items: center;
}

#visa-icon {
  width: 45px;
  height: 45px;
}